@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,100;1,300&display=swap');
@import './variables.scss';


*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 1.1;
  color: $primary-color;
}
html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-color: $light-color;
  color: $dark-color;
  font-size: 1rem;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  color: $primary-color;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  color: $dark-color;
  cursor: pointer;
}
