.card-product{
    background-color: #fff;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 30rem;
}

.trash-icon {
    color: red;
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}